@charset "UTF-8";
@font-face {
    font-family: 'iDroid';
    src: url(../fontes/idroid.otf) format(truetype);
}
/* ---------------------------------BODY--------------------------------- */
body{
    margin: 0;
    padding: 0;
}
/* ------------------------------CABEÇALHO------------------------------- */
header{
    background-image: linear-gradient(to bottom, rgb(144, 238, 183), 20%, rgb(7, 153, 68), 70%,  rgb(0, 100, 38));
}

#cabecalho > h1{
    margin: 0;
    padding: 30px;
    text-align: center;
    color: white;
    font: normal 500 2em Helvetica;
    text-shadow: 2px 2px 5px black;
}

#cabecalho > p{
    width: 400px;
    margin: auto;
    text-align: center;
    color: white;
    font: normal normal 1em arial;
    padding-bottom: 20px;
}
/* ---------------------------------MENU--------------------------------- */
nav{
    padding: 3px 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    font: normal bold 1em Arial;
    padding: 5px;
}

nav > a:hover{
    text-decoration: 4px underline;
}
/* ---------------------------------MAIN--------------------------------- */
main{
    background-color: rgb(130, 243, 187);
    width: 100%;
    margin: auto;
}
/* -------------------------------SECTION-------------------------------- */
section{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
}
/* -------------------------------ARTICLE-------------------------------- */
article{
    margin: 0;
    padding: 0;
}
/* ------------------------------ARTICLE 01------------------------------ */
#art01{
    text-align: justify;
    padding: 15px;
}

#art01 > h1{
    font: normal normal 2em 'iDroid';
    color: darkgreen;
    margin: 0;
    
}

#art01 > h2{
    color: darkgreen;
    background-image: linear-gradient(to right, lightgreen, white);
    font: normal normal 1.3em 'iDroid';
    padding: 0 10px;
}

#art01 > p{
    font: normal normal 1em sans-serif;
    margin: 10px 0;
    padding: 10px 10;
    text-indent: 20px;
}

.android{
    display: block;
    margin: auto;
}
/* -------------------------------ARTICLE 02------------------------------- */
#art02{
    margin: auto;
    background-color: rgb(0, 109, 0);
    text-align: center;
    padding: 20px;
}

#art02 > iframe{
    width: 100%;
    
}
/* -------------------------------ARTICLE 03------------------------------- */
#art03{
    background-color: rgb(178, 253, 194);
    width: 96%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#art03 > h3{
    background-color: rgb(56, 168, 75);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 10px;
}

#art03 > p{
    clear: both;
    margin: 0px;
    padding: 10px 5px;
    text-indent: 20px;
}

ul{
    list-style: none;
    margin-bottom: 100px;
    padding: 0 10px;
    
}

.esq{
    width: 50%;
    float: left;
}
/* -------------------------------ARTICLE 04------------------------------- */
#art04{
    width: 96%;
    margin: 0 auto;
    text-indent: 20px;
}

/* --------------------------------FOOTER-------------------------------- */
footer{
    clear: both;
    background-color: darkgreen;
}

footer > p{
    text-align: center;
    color: white;
    font: normal normal .8em 'san-serif';
    padding: 4px;
    margin: 0;
    font-family: sans-serif;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font: normal bold 1.2em Arial;
}