@charset "UTF-8";
@font-face {
    font-family: 'iDroid';
    src: url(../fontes/idroid.otf) format(truetype);
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to bottom, lightgreen, darkgreen);
}

#cabecalho{
    display: inline-block;
    width: 500px;
}

#cabecalho > h1{
    margin: 0;
    font: normal normal 2em Helvetica;
    color: white;
}

#cabecalho > p{
    align-items: center;
    color: white;
    font: normal normal 1em arial;
}

nav{
    text-align: left;
}

nav > a{
    color: white;
    text-decoration: none;
    font: normal normal 1em Arial;
    padding: 5px;
}

main{
    background-color: lightgreen;
}

section{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}

section > h1{
    font: normal normal 1em 'iDroid';
    color: darkgreen;
}

h2{
    color: darkgreen;
    background-image: linear-gradient(to right, lightgreen, white);
    font: normal normal 1em 'iDroid';
}

img#android{
    display: inline-block;
    align-items: center;
}

#sec02{
    background-color: rgba(0, 150, 0, 1);
    text-align: center;
    padding: 10px;
    text-indent: 0;
}

main > #sec02 > iframe{
    margin: auto;   
}

#sec03 > article{
    background-color: lightgreen;
    border-radius: 10px;
}

#sec03 > article > h3{
    background-color: darkgreen;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px 0px;
}

#sec03 > article > p{
    margin: 0px;
    padding: 0px 10px 20px 20px;
}

footer{
    background-color: darkgreen;
}

footer > p{
    text-align: center;
    color: white;
    font: normal normal .8em 'san-serif';
    padding: 4px;
    margin: 0;
    font-family: sans-serif;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font: normal bold 1.2em Arial;
}