@charset "UTF-8";

:root{
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
}

body{
    width: 100%;
    margin: auto;
}

#bloco{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.blocos{
    display: inline-block;
    background-image: url(../imagens/wallpaper003.jpg);
    width: 32%;
    height: 27vh;
    border: 0px solid var(--preto);
    border-radius: 20px;
    margin: auto;
}

#q1{
    background-position: left top;
}

#q2{
    background-position: center top;
}

#q3{
    background-position: right top;
}

#q4{
    background-position: left center;
}

#q5{
    background-position: center center;
}

#q6{
    background-position: right center;
}

#q7{
    background-position: left bottom;
}

#q8{
    background-position: center bottom;
}

#q9{
    background-position: right bottom;
}