@charset "UTF-8";

:root{
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --vermelho: rgb(255, 0, 0);
    --amarelo: rgb(255, 255, 0);
    --azulceu: rgb(0, 230, 255);
    --cinzaclaro: rgb(230, 230, 230);
}

body{
    background-image: url(../imagens/wallpaper001.jpg);
    max-width: 962px;
    margin: auto;
    
}

span{
    color: var(--preto);
}

.descricao{
    margin: 20px 0;
    border: 20px 20px 0 0;
}

.quadrado{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid var(--preto);
    background-color: var(--cinzaclaro);
    margin: 6px;
}

#quadros{
    text-align: center;
    margin: 6px;
}

#q1{
    background-color: var(--azulceu);
}

#q2{
    background-image: linear-gradient(to bottom, var(--amarelo), 60%, var(--vermelho));
}

#q3{
    background-image: url(../imagens/pattern003.png);
}