@charset "UTF-8";

:root{
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
}

p{
    color: var(--branco);
    background-color: var(--preto);
    padding: 10px;
    margin: 5px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

a{
    background-color: var(--branco);
    border: 2px solid var(--preto);
    font: italic bold 1.5em Arial;
    border-radius: 10px;
    color: var(--preto);
    transition: 1s;
    padding: 4px;
}

a:hover{
    border: 2px solid var(--branco);
    background-color: var(--preto);
    color: var(--branco);
}

h1{
    background-color: var(--branco);
    background-image: url(../imagens/Octocats/My\ octocat.png);
    background-size: 70px;
    background-position: right;
    background-repeat: no-repeat;
    max-width: 400px;
    border-radius: 10px;
    color: var(--preto);
    text-align: left;
    margin: 10px auto;
    padding: 20px;
}
