@charset "UTF-8";
/* body criado para o ex020c */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Classe dos títulos extra aula */
.exercicio{
    color: #0054e6;
    text-decoration: none;
}
/* Muda cor de link extra aula */
.exercicio:hover{
    color: rgb(109, 53, 240);
}
/* Underline título página atual */
h1 > a:hover{
    color: #0054e6;
    text-decoration: underline;
}
/* Caixas ex020 */
div{
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: 1s; 
}

div:hover{
    background-color: darkgray;
}

#d1:hover > p{
    color: red;
}

#d2:hover > p{
    color: rgb(51, 255, 0);
}

#d3:hover > p{
    color: blue;
}
/* Efeito caixa ex020b */
#d4:hover{
    background-color: lightblue;
}

#d4 > p{
    display: none;
}

#d4:hover > p{
    display: block;
    background-color: red;
}
/* Estilo links ex020c */
.ex020c{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.ex020c:visited{
    color: darkred;
}

.ex020c:hover{
    text-decoration: underline;
    color: black;
}

.ex020c:active{
    color: yellow;
}

#especial::before{
    content: '» ';
    color: red;
    font-size: 1.5em;
}

#especial::after{
    content: ' «';
    color: red;
    font-size: 1.5em;
}
/*
«
»
*/