/*---------CARACTERES ASSENTUADOS----------------------------*/
@charset "UTF-8";

/*---------NOMEAÇÃO DE FONTE BAIXADA-------------------------*/
@font-face {
    font-family: 'iDroid';
    src: url(../fontes/idroid.otf);
}

/*---------PSEUDO-CLASSE PARA DENOMINAR VARIÁVEIS EM CSS-----*/
:root{
    --fundoHeader: rgba(30, 100, 30, .8);
    --fundoBody: rgba(0, 240, 100, .4);
    --branco: rgb(255, 255, 255);
    --sombra: rgb(0, 0, 0);
    --cor2: rgba(2, 242, 74, .8);
    --cor4: rgba(114, 242, 2, .5);
    --cor5: rgba(209, 235, 12, .5);
    
}

/*---------RESET---------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

/*---------BODY----------------------------------------------*/
body{
    background-color: var(--fundoBody);
}

/*---------HEADER--------------------------------------------*/
header{
    background-image: linear-gradient(to top, var(--fundoHeader), 65%, var(--fundoBody));
    box-shadow: 0 0 2px var(--sombra);
}

header > h1{
    text-align: center;
    padding: 10px;
    color: var(--branco);
    text-shadow: 0 0 4px var(--sombra);
    font: normal normal 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header > p{
    text-align: center;
    padding: 10px;
    max-width: 380px;
    margin: auto;
    color: var(--branco);
    text-shadow: 0 0 4px var(--sombra);
    font: normal normal 1em 'Arial';
}

/*---------NAV--------------------------------------------*/
nav{
    padding: 6px;
}

nav > a{
    color: var(--branco);
    text-decoration: none;
    font: normal bold .8em Arial;
    padding: 6px;
    transition: .6s;
}

nav > a:hover{
    background-color: var(--branco);
    color: var(--fundoHeader);
    border-radius: 5px;
}

/*---------MAIN----------------------------------------------*/
main{
    width: 70%;
    margin: auto;
    background-color: var(--branco);
    box-shadow: 0 0 6px var(--sombra);
}

main h1{
    padding: 10px 0 0 20px;
    font: normal normal 1.6em 'iDroid';
    color: var(--fundoHeader);
}

main h2{
    font: normal normal 1em 'iDroid';
    background-image: linear-gradient(to right, var(--fundoBody), var(--branco));
    margin: 0 20px 0 20px;
    padding: 0 10px;
    color: var(--fundoHeader);
}

main p{
    padding: 20px;
    text-indent: 30px;
    text-align: justify;
    font: normal normal .9em sans-serif;
}

.imagem{
    width: 80%;
    height: 20%;
    display: block;
    margin: auto;
}

#video{
    width: 100%;
    background-color: var(--fundoHeader);
}

#video > iframe{
    display: block;
    max-width: 90%;
    max-height: 100%;
    margin: auto;
}

/*---------ASIDE---------------------------------------------*/
aside{
    display: block;
    width: 90%;
    margin: 10px auto;
    background-color: var(--fundoBody);
    border-radius: 10px;
}

aside h3{
    background-color: var(--fundoHeader);
    color: var(--branco);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font: normal bold 1em sans-serif;
}

aside p{
    clear: both;
    padding: 10px;
}

aside ul{
    list-style-type: '\1f5f8\00a0';
    padding-left: 30px;
}

.esq{
    display: list-item;
    width: 100px;
    height: 100px;
    float: left;
}

.dir{
    float: right;
    
}

/*---------FOOTER--------------------------------------------*/
footer{
    background-color: var(--fundoHeader);
}

footer > p{
    text-align: center;
    padding: 8px;
    color: var(--branco);
    font: normal normal .7em sans-serif;
}

.linkFooter{
    color: var(--branco);
    text-decoration: none;
    font: normal bolder 1.1em sans-serif;
    vertical-align: bottom;
}

.linkFooter:hover{
    text-decoration: 2px underline;
    align-items: center;
}