@charset "UTF-8";

/* PASSION ONE */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
/* SRIRACHA */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --pretotransparente: rgba(0, 0, 0, .4);

    --passionOne: 'Passion';
    --sriracha: 'Sriracha';
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

header > h1{
    display: inline-block;
    margin: 0;
    padding: 0;
    font: normal normal 2em 'Passion One';
}

header > h1 > a{
    color: var(--branco);
    text-decoration: none;
}

header > h1::first-letter{
    font: normal normal 2em 'Passion One';
}

header > p{
    margin: 0;
    font: normal bold 1em 'Arial';
}

header > p > span{
    font: normal lighter 1em 'Arial';
}

nav{
    text-align: center;
    margin: 10px;
    padding: 0;
}

nav > a{
    text-decoration: none;
    color: var(--preto);
    font: normal normal 1em Arial;
}

nav > a:hover{
    text-decoration: 2px underline;
    font: normal normal 1em Arial;
}

main{
    max-width: 800px;
    border: 1px solid var(--preto);
    margin: 4px auto;
}

.estrofe{
    width: 300px;
    height: 300px;
    margin: 60px 20px;
    padding: 10px;
    font: normal bold 1em 'Sriracha';
    color: var(--preto);
}

.estrofe2e5{
    background-color: var(--pretotransparente);
    width: 300px;
    margin: 80px 20px;
    padding: 20px;
    border-radius: 15px;
    color: var(--branco);
    font: normal normal 1em 'Sriracha';
}

#joaninha{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

#folhas{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
    font: normal lighter 1em Arial;
    text-align: center;
    margin: 0px;
    padding: 6px;
}

footer > p{
    font: normal lighter 1em Arial;
    color: var(--branco);
}

footer > p > a{
    text-decoration: none;
    color: var(--branco);
    font: normal bold 1em Arial;
}

footer > p > a:hover{
    text-decoration: 2px underline;
}
